.hero-unit
  h1 Add Mark
  form.form-horizontal(ng-model="form", ng-change='showVideo()', ng-submit="addMark()")
    .control-group
      .controls
        iframe(type='text/html', src='http://www.youtube.com/embed/{{form.video_id}}?start={{form.start_time}}&end={{form.end_time}}&showinfo=0&controls=0&origin=http://localhost:3000')
    .control-group
      label.control-label(for="video_url") Video URL
      .controls
        input(type="text", ng-model='form.video_url', ng-change='showVideo()', name='video_url', autofocus)
        {{form.video_id}}
    .control-group
      label.control-label(for="title") Youtube Title
      .controls
        input(type="text", ng-model="form.title", placeholder="YouTube Video Title", name="title", data-ng-minlength="1", data-ng-maxlength="20", autofocus)
    .control-group
      label.control-label(for="posted_by") YouTube Author
      .controls
        input(type="text", ng-model='form.posted_by', name='posted_by' placeholder="YouTube Author Name",  autofocus)
    .control-group
      label.control-label(for="start_time") Start Time
      .controls
        input(type="text", ng-model="form.start_time", placeholder="Start time in secs", name="start_time", autofocus)
    .control-group
      label.control-label(for="end_time") End Time
      .controls
        input(type="text", ng-model="form.end_time", placeholder="End time in secs", name="end_time", autofocus)
    .control-group
      .controls
        button.btn(type="submit") Submit