.bookmarklet
  h1 Add Mark
  form.form-horizontal(ng-model="form", ng-change='showVideo()', ng-submit="addMark()")
    .control-group
      iframe.addmark(type='text/html', src='http://www.youtube.com/embed/{{form.video_id}}?start={{form.start_time}}&end={{form.end_time}}&showinfo=0&controls=0&origin=http://localhost:3000')
      slider(floor="0", ceiling='{{form.duration}}', ng-model-low="form.start_time", ng-model-high="form.end_time")
    .control-group
      label.control-label(for="start_time") Start Time
      .controls
        input(type="text", ng-model="form.start_time", placeholder="Start time in secs", size="8", name="start_time", autofocus)
    .control-group
      label.control-label(for="end_time") End Time
      .controls
        input(type="text", ng-model="form.end_time", placeholder="End time in secs", name="end_time", size="8", autofocus)
    .control-group
      label.control-label(for="message") Message
      .controls
        textarea(ng-model="form.message", placeholder="Enter your message here",name="message", autofocus)
    .control-group
      .controls
        button.btn(type="submit") Submit